<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
  <add name="conn" connectionString="Server=a688df8c-b808-4fe8-bf31-a5c60043ac13.sqlserver.sequelizer.com;Database=dba688df8cb8084fe8bf31a5c60043ac13;User ID=cwelcispnmfzoimn;Password=dTAW8vacMYvNQCYS2EYTJNwCSMydiGPn62xzJkiT2hVp7d5dLBdeCR5xw6dt563e;"/>
</connectionStrings>
</configuration>
